* { outline: 0 ; }

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    background-color: #fff;
    color: #666;
    font-family: sans-serif, 'Helvetica', 'Arial';
}

h1, h2, h3, h4, h5, h6 {
    padding: 10px;
    margin: 0px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #a7f;
}

h1 {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-left: 10px;
    text-transform: capitalize;
}

input {
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4) inset;
    border: none;
    border-left: 2px solid #a7f;
}

.center {
    position: fixed;
    left: calc(50% - 180px);
    top: calc(50% - 160px);
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4);
}

#title {
    font-size: 40px;
    border-bottom: none;
}

#search {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
}

#search input {
    font-family: sans-serif, 'Helvetica', 'Arial';
    font-size: 20px;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4);
    padding: 7px;
    width: 100%;
}

#uploadButton.close {
    color: #666;
}

#uploadButton {
    z-index: 9001;
    width: 75px;
    height: 35px;
    position: fixed;
    right: 20px;
    top: 20px;
    border: none;
    background-color: Transparent;
    font-family: sans-serif, 'Helvetica', 'Arial';
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    transition: color .25s;
}

#uploadButton:hover {
    color: #999;
}

#upload {
    z-index: 1337;
    width: 300px;
    height: 220px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4);
    transition: width .25s, height .25s;
    overflow: hidden;
}
#upload.close {
    width: 35px;
    height: 0px;
}
#upload input {
    font-family: sans-serif, 'Helvetica', 'Arial';
    font-size: 17px;
    padding: 5px;
    margin: 10px;
    width: calc(100% - 30px);
    transition: opacity .5s;
}
#upload.close input {
    opacity: 0;
}

#upload input[type="file"] {
    width: calc(100% - 20px);
    padding: 50px 0 0 0;
    height: 0px;
    overflow: hidden;
    border: none;
    box-sizing: border-box;
    background: center no-repeat url("icons/dragDropIcon.png");
    border: 2px solid #a7f;
    border-top: 0px;
    border-right: 0px;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4) inset;
    background-size: 60px;
}

#upload input[type="submit"] {
    width: 100px;
    display: block;
    margin: auto;
    background: #a7f;
    color: #fff;
    border-radius: 3px;
    border: none;
    box-shadow: 
        0px 1px 2px rgba(0,0,0, 0.4), 
        0px 3px 0px -1px rgba(255,255,255,0.5) inset;
}

/* 
    VIDEO WATCHING PAGE SPECIFIC STYLES
*/

#videoEmbed {
    margin: 0px;
    border: 0px;
    width: 100%;
    height: calc(100% - 100px);
}

#videoTitle {
    border-bottom: none;
    padding: 0px;
    font-size: 65px;
}

#infoBox {
    margin: 20px;
    width: calc(100% - 500px);
    margin-left: auto;
    margin-right: auto;
}

#videoPaste, #tagList {
    margin-left: auto;
    display: inline-block;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4) inset;
    background-color: #f7f7f7;
    padding: 20px;
}

#videoPaste {
    width: 65%;
    margin-right: 10px;
    float: left;
}

#tagList {
    width: calc( 25% - 10px);
    text-align: center;
}

#tagList a {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4);
    border-left: 2px solid #a7f;
    padding: 5px;
    margin: 2px;
    line-height: 40px;
}

/* 
    SEARCH PAGE SPECIFIC STYLES
*/

#results {
    margin-top: 20px;
}

.videoResult {
    background-color: #fff;
    border-left: 2px solid #a7f;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4);
    display: inline-block;
    padding: 10px;
    margin: 20px;
    width: calc(30% - 20px);
}

.videoResult video {
    background-color: #000;
    width: 100%;
    height: 200px;
}

.videoResult .title {
    color: #666;
    font-size: 25px;
}

.videoResult .paste {
    color: #aaa;
}

/*
    INDEX PAGE SPECIFIC STYLES
*/

#recentVideos {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.4) inset;
}

.recentVideo {
    display: inline-block;
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4);
    border-left: 2px solid #a7f;
    padding: 10px;
    margin: 10px;
    overflow-x: hidden;
    white-space: nowrap;
}

.recentVideo video {
    background-color: #000;
}

.recentVideo .title {
    overflow-x: hidden;
    color: #666;
    font-size: 20px;
    width: 200px;
    text-overflow: ellipsis;
}

.recentVideo .paste {
    overflow-x: hidden;
    color: #aaa;
    width: 200px;
    text-overflow: ellipsis;
}

/* 
    VIDEO PROCESSING SPECIFIC STYLES
*/

#videoBox {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    height: 450px;
    line-height: 450px;
}

#videoBox iframe {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
}

#videoStatus {
    margin: auto;
    width: 230px;
    text-align: center;
    background-color: #f7f7f7;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4) inset;
    padding: 20px;
    line-height: 30px;
}

#videoStatus a {
    border-left: 2px solid #a7f;
    box-shadow: 0px 1px 2px rgba(0,0,0, 0.4);
    padding: 3px;
    background-color: #fff;
}